<nav id="header" class="gray">
  <a class="green navitem">deutsch</a>
</nav>

<h2>{{title}}</h2>

<hr>
Next billing date: <strong id="nextPayment">{{customer.nextPayment}}</strong><br>
Service: <strong>{{customer.service.name}} for €{{customer.service.price}} per/month</strong><br>
Service provider: <strong>{{customer.service.provider}}</strong><br>
<br>
<br>
<span class="gray-text">Previous payments</span>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Period</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let payment of customer.payments">
    <td>{{ payment.paymentDate }}</td>
    <td>{{ payment.periodStart }} - {{ payment.periodEnd }}</td>
    <td>{{ payment.cost }}</td>
  </tr>
</table>

<button id="subscribeToggle" (click)="toggleSubscription()" class="btn btn-primary btn-block btn-lg round">
 {{customer.isPremium ? labelUnsubscribe : labelSubscribe}}
</button>



<footer class="footer gray">
    <span class="green">Help & Support</span> <span class="text-muted">Service provider: {{customer.service.provider}}</span>
</footer>
