/* You can add global styles to this file, and also import other style files */
.gray {
  background-color: #f8f8f8;
}

.gray-text {
  color: #ccc;
}

.green {
  color: #189c00;
}

#header {
  line-height: 3em;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

.navitem{
  border-left: 1px solid #ccc;
  padding-right: 10px;
  line-height: 3em;
  display: inline-block;
  padding-left: 5px;
}

.btn-lg.round {
  border-radius: 24px;
  background-color: #189c00;
  text-transform: uppercase;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  border-top: 1px solid #ccc;
}

footer > span {
  margin-left: 1em;
}
